<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nutomic.ensichat">

    <application>

        <uses-library android:name="s1" />
        <uses-library android:name="s2" />
        <uses-library android:name="s3" />

    </application>

</manifest>
